{{!< default}}
<div class="container">
	<div class="jumbotron">
		<img src="/favicon.ico" width="60">
		<h1>Welcome</h1>
		<p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
		<h2>What is Hunter Strategy</h2>
		<p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		</p>
		<p>This is your new <a href='http://keystonejs.com' target='_blank'>KeystoneJS</a> website.</p>
		<hr>
		<p>We have created a default Admin user for you with the email <strong>ben.jerauld@hunterstrategy.net</strong> and the password <strong>hunter2</strong>.</p>
		<p><a href="/keystone/signin" style="margin-right: 10px" class="btn btn-lg btn-primary">Sign in</a> to use the Admin UI.</p>

	</div>
</div>
{{> services }}
<div id="leadership">
{{> leadership }}
</div>
<div id="clients">
{{> clients }}
</div>
<div id="partners">
{{> partners }}
</div>
<div id="jobs">
{{> jobs }}
</div>
{{> carousel }}
