{{!< default}}
<div class="container">
	<div class="jumbotron">
		<h1>Helping the government <br /> get IT right</h1>
		<p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
		<h2>What is Hunter Strategy</h2>
		<p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		</p>
	</div>
</div>
<div id="leadership">
{{> leadership }}
</div>
<div id="services">
{{> services }}
</div>
<div id="customers">
{{> customers }}
</div>
<div id="partners">
{{> partners }}
</div>
