{{!< default}}
<div class="background-image splash-page">
	<div class="container">
		<div class="flex-splash">
			<div class="flex-splash-text">
				<h1 class="header-blue">Helping the Government <br /> get IT right.</h1>
				<h2 class="header-blue">Who is Hunter Strategy?</h2>
				<p class="splash-text">
				Founded in 2014 by a group of like-minded technologists tired of representing companies who over promise and under deliver, Hunter Strategy focuses on delivering solutions that are concise, scalable, and target our customer’s complex technical challenges.  We leverage our expertise with best-in-class technologies and full end to end execution to back up our corporate ethos of “no customer left behind”.
				</p>
			</div>
			<div class="flex-splash-image">
				<div class="inline-image splash-graphic">
					<div class='splash-graphic'></div>
				</div>
			</div>
		</div>
	</div>
</div>

<div id="services">
{{> services }}
</div>
<div id="news">
	{{> newsfeed }}
</div>
<div id="leadership">
{{> leadership }}
</div>

<div id="customers">
	<div class="background-image customer-tile">
		{{> customers }}
	</div>
</div>
<div id="partners">
{{> partners }}
</div>
