<div class="background-image news-tile ">
	<div class="container">
		<div class="post">
			<div class="post-body">
				<div class="post-content">
					<article>
						<div class="flex-row">
							<div class="flex-column">
								<hr>
								<p><a href="/news">&larr; back to news</a></p>
								<div class="flex-item">
									<div class="card post-card">
										<header>
											<h2 class="header-blue">{{data.post.title}}</h2>
											<h3 class="header-blue">
												{{{categoryList data.post.categories prefix="Posted in "}}}
												{{#if author.name.first}}by {{author.name.first}}{{/if}}
											</h3>
										</header>
										<div class="post-article">
											{{{data.post.content.extended}}}
										</div>
									</div>
								</div>
							</div>
						</div>
					</article>
				</div>
			</div>
		</div>
	</div>
</div>
