<div class="scroll-menu-item">
	<div class="card">
    <img src={{{cloudinaryUrl image width='120' height='120' crop='fit' }}} alt={{{title}}} class="card-img-top">
		<div class="card-body">
			<h3>{{{title}}}</h3>
			<p>{{{content.short}}}</p>
		</div>
     <a href="#">Read More...</a>
	</div>
</div>
