<div class=" component background-image">
	<div class="card ">
    <img src={{{cloudinaryUrl image width='120' height='120' crop='fit' }}} alt={{{title}}} class="card-img">
		<div class="card-body">
			<h3>{{{title}}}</h3>
			<p>{{{content.short}}}</p>
		</div>
	</div>
</div>
