{{!< default}}
<div class="container">
	<h2> &#60;Demonstrated_Excellence&#62; + &#60;Vast_Experience&#62; = [true]</h2>
	<hr>
	<div class="row">
		{{# each customers}}
			<div class="col-md-4 col-lg-4">
				{{> customer this}}
			</div>
			{{/each}}
	</div>
</div>
