{{!< default}}
<div class="container">
	<h1>Job Offerings</h1>
	<p>General description of work and benefits at hunter strategy. Lorem ipsum dolor sit amet et dolore magna, quis nostrud exercitation pariatur. Excepteur sint occaecat cupidatat non proident.</p>
	<hr>
	<div class="row">
		{{# each jobs}}
			<div class="col-md-12 col-lg-12">
				{{> job this}}
			</div>
			{{/each}}
	</div>
</div>
