<div class="container">
	<div class="jumbotron">
  <h2>Leadership</h2>
	  <div class="row">
	    <div class="col-md-12 cold-lg-12">
        <div class="row">
          {{# each leadership}}
          <div class="col-md-4 col-lg-4">
            {{> staff this}}
          </div>
          {{/each}}
        </div>
      </div>
    </div>
  </div>
</div>
