<div class="flex-item">
  <div class="news-container duotone inline-image darken lighten"ontouchstart="" ontouchend="" onmouseover=""
   style="background-image: url({{{cloudinaryUrl image width='350' height='350'}}})">
    <div class="news-content">
      <div class=""><h4 class="header-white" alt="{{{title}}}">{{{title}}}</h4></div>
      <div class=""><span type="date" class="text-white">{{{publishedDate}}}</span></h4></div>
      <span class="button"><a class="white-button" href="/news">View all News</a></span>
    </div>
  </div>
</div>
