<div class="flex-item">
  <div class="news-container duotone inline-image darken lighten"ontouchstart="" ontouchend="" onmouseover=""
   style="background-image: url({{{cloudinaryUrl image width='350' height='350'}}})">
    <div class="news-content">
      <div class=""><h3 class="header-white" alt="{{{title}}}">{{{title}}}</h3></div>
      <div class=""><span class="button"><a class="orange-button"  href="{{postUrl slug}}">Read More</a></span></div>
    </div>
  </div>
</div>
