{{!< default}}
<div class="partners flex-row">
	<div class="container flex-column">
		<div class="flex-item">
			<h2 class="header-blue">&#60;Valuable_Partners&#62; + &#60;Best_Practices&#62; = [true]</h2>
			<p>Lorem ipsum dolor sit amet et dolore magna, quis nostrud exercitation  pariatur. Excepteur sint occaecat cupidatat non proident.</p>
		</div>
	  <div class="flex-item">
			<div class="flex-row">
      {{# each partners}}
        <div class="flex-item">
					{{> partner this}}
        </div>
      {{/each}}
			</div>
    </div>
		<div class="flex-item">
	    <span class="button "><a class="blue-button" href="">Learn More</a></span>
	  </div>
	</div>
</div>
