<div class="service-section container">
  <div class="service-descr">
    <h2 class="service-title">{{{title}}}</h2>
    <p class="service-brief">{{{content.short}}}</p>
  </div>
  <div class="components">
    {{# each components}}
      {{> component this}}
    {{/each}}
  </div>
</div>
