<div class="card">
  <img src={{{cloudinaryUrl image width=160 height=160 crop='fit' }}} alt="John" class="card-image">
  <h3>{{name.first}} {{name.last}}</h3>
  <p class="title">{{title}}</p>
  <span><
    <i class="far fa-envelope fa-2x"></i>
    <i class="fab fa-linkedin fa-2x"></i>
    <i class="fab fa-github fa-2x"></i>
    <i class="fab fa-twitter-square fa-2x"></i>
    <i class="fab fa-medium fa-2x"></i>
    >
  </span>
</div>
