<div class="card">
  <img src={{{cloudinaryUrl image width=160 height=160 crop='fit' }}} alt="John" class="card-image">
  <h3>{{name.first}} {{name.last}}</h3>
  <p class="title">{{title}}</p>
  <p>Hunter Strategy</p>
  <p><button>Contact</button></p>
</div>
