// Bootstrap
// =========

// Bootstrap can be removed entirely by deleting this line.

@import "bootstrap/bootstrap";

// The easiest way to customise Bootstrap variables while
// being able to easily override the source files with new
// versions is to override the ones you want in another file.
//
// You can also add your own custom variables to this file for
// use in your site stylesheets.

@import "site/variables";


// Site Styles
// ===========

// Add your own site style includes here
@import "site/layout";

//COLOR VARIABlES
$light-orange: #d78a3e;
$dark-orange: #d05527;
$darker-orange: #c94b28;
$light-blue: #005d83;
$dark-blue: #034970;
$light-green: #5b8244;
$dark-green: #145753;
$dark-grey: #5a5341;
$light-grey: #dcd7cd;
$white: #ffffff;

// FONT STYLE DEFINTIONS
 a, p, span, div, .standard-text{
   font-family: co-headline, sans-serif;
   font-style: normal;
   font-weight: 300;
 }

 .bold-text, .navbar-nav > li > span > a{
   font-family: co-headline, sans-serif;
   font-style: normal;
   font-weight: 400;
 }

h1, h2, h3, h4 {
  font-family: montserrat, sans-serif;
  font-style:normal;
  font-weight: 700;
}
.header-blue, .text-blue{
  color: $dark-blue;
}
.header-green{
  color:$light-green;
}
.header-white, .text-white{
  color:$white;
}
.header-orange{
  color: $dark-orange;
}
.header-orange-light{
  color: $light-orange;
}


#header{
  width:auto;
}

// BASIC IMAGE DEFINTIONS
.background-image{
  height:100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  &.splash-page{
    background-image: url('../images/SplashCodingBackgroundLight.jpg');
  }
  &.news-section{
    background-image: url('../images/SplashCodingBackgroundDark.jpg');
  }
  &.customer-tile{
    background-image:  url('../images/CreamTileBackground.jpg');
  }
  &.even-service{
    background-image: url('../images/CreamTileBackground.jpg');
  }
}
.inline-image{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  transform: scaleX(-1);
  &.splash-graphic{
    height: 450px;
    width:500px;
    background-image: url('../images/CloudServers.png');
  }
}

//HUNTER NavBar
.hunter-navbar{
  background-color: $darker-orange;
  background: linear-gradient(to right, rgba(208, 85, 39, 0.75), $darker-orange 10%, $darker-orange 90%, rgba(208, 85, 39, 0.75) );
}

.navbar-fixed-top {
    min-height: 80px;
}

.navbar-nav > li > span > a {
    padding-top: 0px;
    padding-bottom: 0px;
    line-height: 80px;
}
@media (max-width: 990px) {
    .navbar-nav > li > span > a {
      line-height: 20px;
      padding-top: 20px;
      padding-bottom: 10px;
    }
}

.button, .navbar-nav > li > span{
    display: inline-block;
    padding: 6px 6px;
    > a.blue-button{
       color:$white;
        padding: 4px 7px;
       &:hover, &:focus {
          background-color:$dark-blue;
          border-radius: 10px;
          text-decoration: none;
      }
    }
    > a.white-button{
       background-color:$white;
       border-radius: 10px;
       font-weight: bold;
       padding: 8px 8px;
       &:hover, &:focus {
        color:$dark-blue;
        text-decoration: none;
      }
    }
}
//BASIC FLEX RULES
.flex-row{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  .flex-column{
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    .flex-item{
      text-align: center;
      padding: 6px;
      margin: 6px;
      flex: 1 1 auto;
    }
  }
}

//Leadership RULES
.card.staff-card.flex-column {
  .staff-title{
    color: $dark-grey;
  }
  .card-image img{
    border-radius: 15px;
  }
  span .staff-icon{
    font-size:18px;
    color: $light-grey;
  }
  .flex-item{
    margin-top:3px;
    margin-bottom:3px;
    padding-top:0px;
    padding-bottom:0px;
  }
}

// SPLASH FLEX RULES
.flex-splash{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  .flex-splash-text{
    margin-top: 100px;
    order: 0;
    flex: 1 1 400px;
    align-self: center;
    flex-direction: column;
    display: flex;
  }
  .flex-splash-image{
    flex-direction: column;
    display: flex;
    order: 0;
    flex: 1 1 auto;
    align-self: center;
    @media (max-width: 990px) {
      display:none;
    }
  }
}

//SERVICE FLEX RULES
.even-service.background-image{
  background-image: url('../images/CreamTileBackground.jpg');
  .service-section {
    .service-descr .service-title{
      color: $light-orange;
    }
    .components .background-image{
      background-color:$white;
      .card .card-body h3{
        color: $dark-blue;
      }
    }
  }
}
.odd-service .service-section {
  flex-direction: row-reverse;
  .service-descr .service-title{
    color: $dark-blue;
  }
  .components .background-image{
    background-image: url('../images/CardTileBackground.jpg');
    .card .card-body h3{
      color: $light-orange;
    }
  }
}

.service-section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    .service-descr{
      order: 0;
      flex: 1 1 auto;
      max-width: 400px;
      align-self: auto;
    }
    .components{
      display: flex;
      justify-content: center;
      align-content: center;
      align-items: center;
      flex-direction: row;
      order: 0;
      flex: 1 0 300px;
      align-self: auto;
      .component{
        padding: 12px;
        margin: 36px 12px 36px 12px;
        border-radius: 12px;
        flex: 0 1 auto;
        max-width: 300px;
        .card{
          display: flex;
          flex-direction: column;
          align-items: center;
          .card-img{
           flex: 0 0 auto;
          }
          .card-body{
            flex: 1 1 200px;
            max-height: 200px;
          }
        }
      }
    }
}

.scroll-menu {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;

  .scroll-menu-item {
    flex: 0 0 auto;

    .card {
      width: 40rem;
    }
  }
}
.footer-container{
  background-color: #eeeeee;

  .footer-card{
    text-align: center;
  }
}
